<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>
        </div>
    </div>
</header>

@code {

}
